{% extends "index.html" %}
{% block content %}

<div style="padding-left: 2em; padding-right: -2em">

    <div class="pure-g">
    <div class="pure-u-1-4"><h3>About</h3></div>
    <div class="pure-u-1-2">
        <p>Federated Principal Component Analysis is a popular technique which can be used for dimensionality reduction and
            sample stratification of high dimensional (biological) data. Conceptually, PCA is the eigendecomposition of the
            covariance matrix. The eigenvectors and eigenvalues describe the principal axes of variation.</p>
        <p>For more information on how to use this tool, please visit the dedicated <a href="./help">Help page</a></p>
    </div>
    </div>
    <br>
    <div class="pure-g">
    <div class="pure-u-1-4"><h3>Author</h3></div>
    <div class="pure-u-1-2">
        <h4>Anne Hartebrodt</h4>
        </div>
    </div>
    <div class="pure-g">
    <div class="pure-u-1-4"><h3>Contact</h3></div>
    <div class="pure-u-1-2">
        <p>The Federated Prinicipal Component Analysis (PCA) app has been developed by the
            <a href="https://imada.sdu.dk/~roettger/main_page/index.php">Computational Biology Group</a>
            at the Department of Mathematics and Computer Science at the University of Southern Denmark.</p>
        <p>If you have questions of problems please contact the author: <a href="mailto:hartebrodt@imada.sdu.dk">Anne Hartebrodt</a></p>
        </div>
    <div class="pure-u-1-4">
        <div style="padding-left: 2em">
            <img src="./static/images/SDU_BLACK_RGB.jpg" height="50px" alt="FeatureCloud" />
        </div>
    </div>
    </div>

    <br>
    <div class="pure-g">
    <div class="pure-u-1-4"><h3>Cite this app</h3></div>
    <div class="pure-u-1-2">
        <p>If you used this application in your workflow please cite the following article.</p>
    </div>
    </div>
    <br>
    <div class="pure-g">
    <div class="pure-u-1-4"><h3>FeatureCloud Project</h3></div>
    <div class="pure-u-1-2">
        <p>For more information on the FeatureCloud project please visit the project website <a href="https://featurecloud.eu">https://featurecloud.eu</a>.</p>
    </div>
    </div>
    <br>
    <div class="pure-g">
    <div class="pure-u-1-4"><h3>Funding</h3></div>
    <div class="pure-u-1-2">
        <p>This project has received funding from the European Union’s Horizon 2020 research and innovation programme
              under grant agreement No 826078. This reflects only the view of the authors and the European Commission is not
              responsible for any use that may be made of the information it contains.</p>
    </div>
    <div class="pure-u-1-4">
        <div style="padding-left: 2em">
        <img src="./static/images/fc_logo.png'" height="80px" alt="FeatureCloud" /></div>
    </div>
    </div>
</div>
{% endblock %}
